<header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu">
        {% if include.banner %}
          <div class="title navbar-banner">
            <a href="{{ site.url }}">
              {{ site.name }}
            </a>
          </div>
        {%endif%}
        <div class="navbar-end">
          {% for item in site.navbar_items %}
            {% if include.home and item.name == "Home" %}
              {% continue %}
            {% endif %}
            <a class="navbar-item" href="{{ item.url }}">
              {{ item.name }}
            </a>
          {% endfor %}
        </div>
      </div>
    </nav>
</header>