.title {
  font-family: "Noto Sans", sans-serif;
}

.subtitle {
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  margin-bottom: 0em;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 100;
  font-size: 0.95em;

  line-height: 1.4;
}

// Other fonts: "Noto Sans", sans-serif, "Source Sans Pro", sans-serif, "Helvetica", sans-serif;